html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: hsl(0, 0%, 24%);
  font-size: 1.8rem;
}

h1, h3, h4, h5, h6 {
  font-family: 'Sansita', sans-serif;
}

h1 {
  margin-bottom: 1.6rem;
  font-size: 4.2rem;
}

h2 {
  margin-bottom: 3.2rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.4rem;
}

h3 {
  margin-bottom: 1.6rem;
  font-size: 3rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color:hsl(255, 18%, 44%);
}

a:hover, a:focus {
  text-decoration: underline;
}

p {
  line-height: 1.5;
  max-width: 70rem;
}

form {
  max-width: 70rem;
}

input, textarea {
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  border: 1px solid hsl(0, 0%, 78%);
  font-size: 1.8rem;
}

button, input[type="submit"] {
  padding: 1rem 1.6rem;
  background-color: hsl(35, 100%, 68%);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
  font-size: 1.8rem;
}

button:hover, button:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: hsl(35, 100%, 60%);
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

header, section {
  padding: 3.2rem 0;
}

header, section:nth-child(odd) {
  background-color:	hsl(38, 82%, 91%);
}

header {
  position: relative;
}

@media screen and (min-width: 800px) {
  header {
    margin-bottom: 12.8rem;
  }
}

.background-wave {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
}

.background-wave--past {
  height: 6rem;
  bottom: 0;
  top: auto;
}

@media screen and (min-width: 800px) {
  .background-wave {
    display: block;
  }
}

.main-nav {
  margin-bottom: 3.2rem;
}

.main-nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.main-nav li:not(:last-of-type) {
  margin-right: 1.6rem;
}

.logo {
  width: 6rem;
  height: 6rem;
  margin-right: 1.6rem;
  padding: 10px;
  background-color: hsl(255, 18%, 75%);
  border-radius: 50%;
}

.title {
  display: flex;
  align-items: center;
}

.cta-form {
  margin-top: 6.4rem;
}

.cta-form-wrapper {
  display: flex;
  margin-bottom: 0.8rem;
}

.cta-label {
  display: block;
  margin-bottom: 0.8rem;
}

.cta-text-input {
  border-radius: 6px 0 0 6px;
  border: none;
}

.cta-button {
  border-radius: 0 6px 6px 0;
}

.cta-notice {
  font-style: italic;
  font-size: 1.4rem;
}

.name-wrapper, .email-wrapper, .message-wrapper {
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 800px) {
  .contact-form {
    display: grid;
    grid-template-areas:
      "field-name field-email"
      "field-message field-message";
    grid-gap: 1.6rem;
  }

  .name-wrapper {
    grid-area: field-name;
  }

  .email-wrapper {
    grid-area: field-email;
  }

  .message-wrapper {
    grid-area: field-message;
  }
}

.contact-label {
  display: block;
  margin-bottom: 0.8rem;
}

.contact-field {
  width: 100%;
}

.contribute-message {
  margin-bottom: 3.2rem;
}

#past-events {
  position: relative;
  padding-bottom: 6rem;
  overflow: hidden;
}

#past-events .container {
  position: relative;
}

.background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.pre-icon:before {
  content:"";
  display: inline-block;
  vertical-align: middle;
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 1.6rem;
}
.event-time:before {
  background-image: url(img/icon-calendar.svg);
}
.event-location:before {
  background-image: url(img/icon-location.svg);
}
.event-register:before {
  background-image: url(img/icon-register.svg);
}
.event-report:before {
  background-image: url(img/icon-newspaper.svg);
}

.past-event {
  display: flex;
}

.past-event + .past-event {
  margin-top: 8rem;
}

.event-info {
  flex-shrink: 0;
  padding-right: 4rem;
}
.event-info a,
.event-info time,
.event-info p {
  line-height: 2.4;
  display: block;
}

.event-photos img {
  width: 55%;
  border: 4px solid #FF7657;
}
.event-photos img:first-child {
  margin-left: 45%;
}
.event-photos img:last-child {
  margin-top: -25%;
  border-color: #FFBA5A;
}

.past-event:nth-child(odd) .event-info {
  order: 1;
  padding-right: 0;
  padding-left: 4rem;
}

.past-event:nth-child(odd) .event-photos img:first-child {
  margin-left: 0;
  border-color: #FFBA5A;
}
.past-event:nth-child(odd) .event-photos img:last-child {
  margin-left: 45%;
  border-color: #FF7657;
}

#contribute {
  padding-top: 11.2rem;
  display: flex;
}
